@import '../../assets/styles/variables';
@import '../../assets/styles/mixins';

// @include componentStyle;
// color: $genTextCol;
.employee-tag-date{
  height: 40px;
  padding: 0px 20px;
  @include rowCenter;
}
.f-card-name {
  margin-right: 10px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.12em;
  font-style: normal;
  line-height: 16px;
  color: $menuItemsColor;
}
.f-card-count {
  padding: 3px 8px;
  border-radius: 7px;
  background-color: $fRed;
  color: $fwhite;
  font-weight: bold;
}