@import '../../assets/styles/variables';
@import '../../assets/styles/mixins';

// @include componentStyle;
// color: $genTextCol;
.f-notif-content-box {
  width: 100%;
  justify-content: space-between;
  height: 100%;
}

  .f-proposal-point-wrapper {
    width: 100%;
    display: flex;
    justify-content: center; 
}

.f-notif-text {
  background-color: #ff9e7e6e;
  margin-left: 5px;
  font-weight: bold;
  font-size: 13px;
  color: $fRed;
  width: auto;
  padding: 5px 10px;
  border-radius: 5px;
  

  &-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
}