@import '../../assets/styles/variables';
@import '../../assets/styles/mixins';

.bs-dashboard-nav {
  width: 180px;
  position: fixed;
  z-index: 999;
}
.sub-menu-item {
  display: flex;
  justify-content: center;

}
.f-nav-active {
  background-color: $flink;
}
.sub-menu-item-wrapper {
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  height: 36px;
  width: 190px;
  margin-bottom: 5px;
  padding: 5px 5px;
}
.sub-menu-item-link {
  font-size: 14px;
  font-weight: 500;
  color: $menuItemsColor;
  line-height: 17px;
}
.sub-menu-item--icon {
  margin-right: 10px;
  
}
.link-text {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: $fdark;
  margin-right: 10px;
}
.menu-item-wrapper {
  margin-bottom: 10px;
  @include rowCenter;
}
.menu-item-arrow {
  color: $fdark;
}
.sub-menu-list {
  margin-bottom: 20px;
}
.menu-collapsed {
  display: none;
  .btn-wrap {
    border-bottom: 1px solid $fRed;
    .title {
      color: $fGreen;
    }
    .ic-more {
      transform: translateY(-50%) rotate(-180deg);
    }
  }
}