@import '../../assets/styles/variables';
@import '../../assets/styles/mixins';

.employee-tag {
  display: flex;
  padding: 0px 20px;
  z-index: 1;
  position: relative;
}
.employee-box {
  position: relative;
  top: -1px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: $fwhite;
  border-radius: 5px;
  border-top: 1px solid $fLightGray;
  z-index: 0;
}
.employee-day-off-type {
  width: 100%;
  justify-content: space-between;
  @include rowCenter;
  margin-bottom: 10px;
}
.employee-content-wrapper {
  @include rowCenter;
  padding: 10px 0;
  justify-content: space-between;
  border-radius: 10px;
  border: 1px solid $fLightGray;

  &-arrow {
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0px 10px;
  }

}
.employee-content {
  height: 266px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}
.employee-empty {
  width: 100%;
  display: flex;
  @include center;

}