$fBlue: #4e45ec;
$fRed: #ff0000;
$fLightRed: #ff9f7e;
$fOrange: #F2994A;
$fGreen: #00c564;
$fYellow: #f1d950;
$fdark: #1d1c1d;
$fMidDark: #616061;
$menuItemsColor: #1D1C1D;
$fGray: #959595;
$fShadow: #bbbbbb;
$fLightGray: #dddddd;
$fBColor: #ececec;
$fwhite: #ffffff;