@import 'mixins.scss';
@import 'variables.scss';

html, body  {
    font-family: 'Lato', sans-serif;
    height: 100%;
}
// #root{
//     height: 100%;
//     display: flex;
//     flex-direction: column;
// }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
li{
    list-style: none;
}
a {
    text-decoration: none;
}
button, input {
    border: none;
    background: none;
}
.container {
    display: flex;
    width: 1200px;
    justify-content: center;
    padding: 0px 15px;
    flex-direction: column;
    box-sizing: border-box;   
}

.f-user-name {
    font-size: 14px;
    color: $fdark;
}

.f-user-spec {
    font-size: 13px;
    color: $fGray;
}

.f-text-bold {
    font-size: 13px;
    text-transform: capitalize;
    font-weight: bold;
    color: $fdark;
}
.f-text {
    font-size: 13px;
    color: $fdark;
}
.f-sub-text {
    font-size: 12px;
    text-transform: capitalize;
    color: $fGray;
}
.f-flex-column {
    @include columnCenter;
}
.f-card-wrapper {
    box-shadow: 0px 2px 7px $fShadow;
    margin-bottom: 30px;
}
.f-flex-row {
    @include rowCenter;
}

.f-card-red {
    color: $flink;
}
.f-right-text-space {
    margin-right: 5px;
}
.f-white-backgroud {
    background-color: $fwhite;
}
.f-notif-content {
    width: 320px;
    border-top: 1px solid $fLightGray ;
    border-bottom: 1px solid $fLightGray;
    padding: 20px 0px;
    @include columnCenter;
    height: 200px;
}