@import 'mixins.scss';
@import 'variables.scss';

html, body  {
    font-family: 'Lato', sans-serif;
    height: 100%;
}
// #root{
//     height: 100%;
//     display: flex;
//     flex-direction: column;
// }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
li{
    list-style: none;
}
a {
    text-decoration: none;
}
button, input {
    border: none;
    background: none;
}
.container {
    display: flex;
    width: 1200px;
    justify-content: center;
    padding: 0px 15px;
    flex-direction: column;
    box-sizing: border-box;   
}

.f-user-name {
    font-size: 14px;
    color: $fdark;
}

.f-user-spec {
    font-size: 14px;
    color: $fGray;
}